<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fer.ppj.restly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".faceDetection.LeftRightExercise" />
        <activity android:name=".faceDetection.TiltExercise" />
        <activity android:name=".faceDetection.EyesExercise" />
        <activity android:name=".faceDetection.FrontBackExercise" />
        <activity android:name=".healthFragmentActivities.NutritionActivity" />
        <activity android:name=".healthFragmentActivities.WorkoutActivity" />
        <activity android:name=".healthFragmentActivities.WorkplaceActivity" />
        <activity android:name=".faceDetection.AllExercises" />

        <service
            android:name=".BackgroundService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>